{
  home = {
    username = "example";
    directory = "/home/example";
  };

  userFullName = "example";
  locale = "en_US.UTF-8";

  git = {
    name = "example";
    email = "example@example.com";
  };

  # Optional: git URL for dotfiles 
  # home activation will clone the repo and deploy dotfiles.
  dotfiles = {
    # e.g. "https://github.com/username/dotfiles.git" or "git@github.com:username/dotfiles.git"
    # Probably some other methods too but those 2 forsure work
    repo = "";
  };

}